<div id="main">

  <div style="width: 100%; height:111px;">
    <div style="width: 100%; height: 100%;  display: flex;  justify-content: center; align-items: center;  overflow:hidden;">
      <video playsinline autoplay muted loop id="bgvid">
        <source src="assets/waves.mp4" type="video/mp4">
      </video>
      <div id="videoMessage">
        <h1>Log Searcher</h1>
      </div>
    </div>
  </div>

  <div id="filters">
    <h1 class="title"><i class="icon-filter"></i> Filters</h1>
    <div id="requiredFilters">
      <ul >
        <li class="required" *ngFor="let item of searchResult.filters.required; let i = index;">
          <span class="button">
            {{item.column}}: <input type="text" value="{{item.value}}" />
            &nbsp;<i (click)="clearRequired(i)" class="icon-trash" style=" cursor: pointer;"></i>&nbsp;
          </span>
        </li>
      </ul>
    </div>

    <div id="exclusionsFilters">
      <ul>
        <li class="excluded" *ngFor="let item of searchResult.filters.excluded; let i = index;">
          <span class="button">
            {{item.column}}: <input type="text" value="{{item.value}}" />
            &nbsp;<i (click)="clearExcluded(i)" class="icon-trash" style=" cursor: pointer;"></i>&nbsp;
          </span>
        </li>
      </ul>
    </div>
    <div>
      <button (click)="clearSearchFilters()">Search <i class="icon-search"></i></button>&nbsp;
      <button (click)="clearSearchFilters()">clear filters <i class="icon-off"></i></button>
    </div>
  </div>

  <div id="searchResults">
    <h1 class="title"><i class="icon-bolt"></i> Results</h1>
    <table border="1" cellpadding="4">
      <thead>
        <tr>
          <th>Row</th>
          <th *ngFor="let item of searchResult.columns">{{item}}</th>
        </tr>
      </thead>
      <tbody style="background-color:white">
        <tr *ngFor="let item of searchResult.lines;let i = index">
          <td align="right">{{i}}</td>
          <td>{{ item.name }} <span (click)="addRequireFilter(0,item.name)" class="filterbutton"><i class="icon-lock"></i></span> <span (click)="addExcludedFilter(0,item.name)" class="filterbutton"><i class="icon-external-link"></i></span></td>
          <td>{{ item.surname }} <span class="filterbutton"><i class="icon-lock"></i></span> <span class="filterbutton"><i class="icon-zoom-out"></i></span></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
