<div id="main">

  <div style="width: 100%; height:111px;">
    <div style="width: 100%; height: 100%;  display: flex;  justify-content: center; align-items: center;  overflow:hidden;">
      <video playsinline autoplay muted loop id="bgvid">
        <source src="assets/waves.mp4" type="video/mp4">
      </video>
      <div id="videoMessage">
        <h1>Log Searcher</h1>
      </div>
    </div>
  </div>

  <div id="filters">
    <h1 class="title"><i class="icon-filter"></i> Filters</h1>

    <table>
      <tr class="required" *ngFor="let item of searchRequest.required; let i = index;">
        <td>
          {{item.column}}:
        </td>
        <td>
          <input [(ngModel)]="item.value" />
        </td>
        <td align="right">
          <i (click)="clearRequired(i)" class="icon-trash" style=" cursor: pointer;"></i>
        </td>
      </tr>
      <tr class="excluded" *ngFor="let item of searchRequest.excluded; let i = index;">
        <td>
          {{item.column}}:
        </td>
        <td>
          <input [(ngModel)]="item.value" />
        </td>
        <td align="right">
          <i (click)="clearExcluded(i)" class="icon-trash" style=" cursor: pointer;"></i>
        </td>
      </tr>
    </table>
    <br />
    <div> 
      <select [(ngModel)]="searchRequest.dbname">
        <option *ngFor="let db of databases;" [value]="db">{{db}}</option>
      </select>
      <button (click)="doTheSearch()">Search <i class="icon-search"></i></button>&nbsp;
      <button (click)="clearSearchFilters()">Clear filters <i class="icon-off"></i></button>
    </div>
  </div>

  <p></p>
  <b>Share this search: <a href="{{shareUrl}}">{{shareUrl}}</a></b>
  <p></p>

  <div id="searchResults">
    <h1 class="title"><i class="icon-bolt"></i> Results</h1>
    <table border="1" cellpadding="4">
      <thead>
        <tr>
          <th>Row</th>
          <th *ngFor="let item of searchResult.columns">{{item}}</th>
        </tr>
      </thead>
      <tbody style="background-color:white">
        <tr *ngFor="let item of searchResult.lines;let i = index">
          <td align="right">{{i}}</td>
          <td *ngFor="let column of item; let colIndex = index">
            {{column}}
            <span (click)="addRequireFilter(colIndex,column)" class="filterbutton">
              <i class="icon-lock"></i>
            </span>
            <span (click)="addExcludedFilter(colIndex,column)" class="filterbutton">
              <i class="icon-external-link"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
</div>

<div style="width: 100%; height:50px;">
  <div style="width: 100%; height: 100%;  display: flex;  justify-content: center; align-items: center;  overflow:hidden;">
    <video playsinline autoplay muted loop id="bgvid">
      <source src="assets/waves.mp4" type="video/mp4">
    </video>
  </div>
</div>

